.item-section {
  position: relative;
}

.title {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 6px 0;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fff;
}

.icon-container {
  border-radius: 4px;
}

.icon-wrapper {
  display: inline-flex;
  height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
}
.icon-wrapper:hover {
  background-color: #eee;
}

.zr-icon {
  display: inline-block;
  font-size: 22px;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -.125em;
  text-rendering: optimizeLegibility;
}
.zr-icon svg {
  display: inline-block;
}
